{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/jsx-runtime",
        "plugin:jsx-a11y/recommended",
        "plugin:react/recommended"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": [
                    "node_modules",
                    "src/"
                ]
            }
        }
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/jsx-filename-extension": 0,
        "no-param-reassign": 0,
        "react/prop-types": 1,
        "react/require-default-props": 1,
        "react/no-array-index-key": 1,
        "react/jsx-props-no-spreading": 0,
        "react/forbid-prop-types": 0,
        "react/react-in-jsx-scope": 0,
        "react/display-name": 0,
        "no-console": "off",
        "prefer-destructuring": 1,
        "no-shadow": 1,
        "no-unused-vars": [
            1,
            {
                "ignoreRestSiblings": false
            }
        ],
        "quotes": "off"
    },
    "ignorePatterns": [
        "build",
        "node_modules"
    ]
}